.advantages {
    background-color: $lightBackgroundColor;
}

.advantages-inner {
    @extend %display-flex;
    padding: 8.4rem 0 7.1rem 0;
}

.advantages__title {
    max-width: 41rem;
}

.advantages__subtitle {
    max-width: 85rem;
    padding: 4.4rem 0 1.2rem 0;
    @extend %second-Font;
    @extend %text-Uppercase;
    @include font(1.8rem, 2.2rem, 300);
    letter-spacing: 0.8px;
}

.advantages-text-inner {
    @extend %display-grid;
    grid-template-columns: 45rem 42rem;
    gap: 3.4rem 1.6rem;
    padding: 0 5.8rem 0 0;
}

.advantages__image {
    @extend %position-realtive;
    z-index: 20;
}

.advantages-image {
    @extend %position-realtive;
}

.advantages-image::before {
    @extend %block-squard;
    bottom: -15px;
    left: -30px;
    z-index: 1;
}
@media(max-width:1100px){
    .advantages-inner {
        flex-direction: column;
    }
    .advantages__subtitle {
        max-width: 100%;
    }
    .advantages-text-inner{
        grid-template-columns: 45% 45%;
    padding: 0 5.8rem 2rem 0;
    justify-content: center;
    }
    .advantages-image{align-self: center;}
}
@media(max-width:620px){
    .advantages-inner {
        flex-direction: column-reverse;
        padding: 4rem 0 3rem 0;
    }
    .advantages-text{
        padding: 3rem 0 0 0;
    }
    .advantages-image::before {
        bottom: -20px;
        left: -20px;
        z-index: 1;
        width: 40px;
        height: 40px;
        border: 1px solid $textLightColor;
    }
    .advantages__subtitle {
        padding: 2rem 0 1rem 0;
       @include font(1.4rem,1.7rem,300);
    }
    .advantages-text-inner {
        grid-template-columns: 85%;
        padding: 0 2rem 2rem 0;
        justify-content: left;
        gap: 1.4rem;
    }
}