.signg-in{
    border: 2px solid $primeButtonsColor;
    padding:12px 23px 12px 23px;
    transition: background-color 0.8s ease;
}
.signg-in:hover{
    background: $buttonsHoverColor;
}
.button{
    @include font(2.3rem,2.3rem,400);
    color:$primeTextColor;
    @extend %cursor-pointer;
    @extend %secondFont;
}
.button_bg{
    background-color:$primeButtonsColor;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}
.button_bg:hover{
    background: $buttonsHoverColor2;
}