.company {
    @extend %display-flex;
    padding: 8rem 0 0 0;
}

.company__title {
    padding: 0 0 3.8rem 0;
}

.company-text {
    max-width: 63.2rem;
}

.company__text {
    @include font(1.8rem, 2.1rem, 300);
    letter-spacing: 1px;
}

.company-text__first {
    @extend %position-realtive;
    padding: 0 7rem 2rem 10.4rem;
}

.company-text__first::before {
    @extend %position-absolute;
    content: '';
    top: 8%;
    left: 0;
    height: 2px;
    width: 8.6rem;
    background-color: $darkBackgroundColor;
}

.company-text__second {
    padding: 0 7rem 0 10.4rem;
}

.company-image {
    align-self: flex-end;
    margin: 0 0 1.6rem 0;
}

.company-image__small {
    @extend %position-realtive;
    padding: 0 2.6rem 0 0;
}

.company-image__small::before {
    @extend %block-squard;
    top: -32px;
    left: -32px;
    z-index: 1;
}

.company__image {
    @extend %position-realtive;
    z-index: 20;
}
@media(max-width:1370px){
    .company__text {
        @include font(2.2rem, 2.3rem, 300);
        letter-spacing: 0.6px;
    }
    
}
@media(max-width:1100px){
    .company{
        flex-wrap: wrap;
    justify-content: center;
}
   .company-text{order:2}
   .company-image{
       order:1;
   }
   .company-image__small{
       position: static;
   }
   .company-text {
    max-width: 100%;
}
}