.company {
    @extend %display-flex;
    padding: 8rem 0 0 0;
}

.company__title {
    padding: 0 0 3.8rem 0;
}

.company-text {
    max-width: 63.2rem;
}

.company__text {
    @include font(1.8rem, 2.1rem, 300);
    letter-spacing: 1px;
}

.company-text__first {
    @extend %position-realtive;
    padding: 0 7rem 2rem 10.4rem;
}

.company-text__first::before {
    @extend %position-absolute;
    content: '';
    top: 8%;
    left: 0;
    height: 2px;
    width: 8.6rem;
    background-color: $darkBackgroundColor;
}

.company-text__second {
    padding: 0 7rem 0 10.4rem;
}

.company-image {
    align-self: flex-end;
    margin: 0 0 1.6rem 0;
}

.company-image__small {
    @extend %position-realtive;
    padding: 0 2.6rem 0 0;
}

.company-image__small::before {
    @extend %block-squard;
    top: -32px;
    left: -32px;
    z-index: 1;
}
.company-image-big::before{
    @extend %block-squard-mobile;
}
.company__image {
    @extend %position-realtive;
    z-index: 20;
}
@media(max-width:1370px){
    .company__text {
        @include font(2.2rem, 2.3rem, 300);
        letter-spacing: 0.6px;
    }
    
}
@media(max-width:1100px){
    .company{
        flex-wrap: wrap;
    justify-content: center;
}
   .company-text{order:2}
   .company-image{
       order:1;
       align-self: flex-start;
   }
   .company-image__small::before{
     width: 0;
     height: 0;
     border: none;
   }
   .company-text {
    max-width: 100%;
}
.company__title {
    padding: 1.8rem 0 3rem 0;
}
.company-text__second {
    padding: 0 0 0 10.4rem;
}
.company-text__first{
    padding: 0 0 2rem 10.4rem;
}

}
@media(max-width:620px){
    .company {
       padding: 3rem 0 0 0;
    }
    .company-image-big{
    position: relative;
    }
    .company-image-big::before{
bottom:-20px;
left: -20px;
    }
    .company__text{
        @include font(1.6rem, 1.9rem, 300);
    }
    .company-text__first {
        padding: 0 0 2rem 5rem;
    }
    
    .company-text__first::before {
        height: 1px;
        width: 3.1rem;
    }
    
    .company-text__second {
        padding: 0 0 2rem 5rem;
    }
    .company-image__small {
        padding: 0 1rem 0 0;
    }
}
@media(max-width:440px){
    .wrapper-light{
        padding: 0 1.5rem 0 1.5rem ;
    }
    .company {
        padding: 4rem 0 0 0;
    }
}