.footer {
    background-color: $darkBackgroundColor;
}

.footer-info {
    @extend %display-flex;
    padding: 6.8rem 0 0 0;
    justify-content: space-between;
}

.contacts-list {
    @extend %display-flex;
}

.align-self-center {
    align-self: center;
}