.footer{
    background:$headerBackgroundColor;
}
.footer-info{
    background-image: url(../../assets/images/footer/footer-bg.png);
    padding:15em 0;
    @extend %display-flex;
    justify-content: space-between;
}
.footer-links{
    max-width: 52rem;
    width: 100%;
}
.footer__link{
    transition: color 0.6s ease-out;
}
.footer__link:hover{
    color:$buttonsHoverColor2;
}
.footer-list{
    @extend %display-flex;
    justify-content: space-between;
    @include font(2.3rem,2.3rem,400);
}