.footer {
    background-color: $darkBackgroundColor;
}

.footer-info {
    @extend %display-flex;
    padding: 6.8rem 0 0 0;
    justify-content: space-between;
}

.contacts-list {
    @extend %display-flex;
}

.align-self-center {
    align-self: center;
}

.contact__link {
    @include font(1.6rem, 1.6rem, 500);
    letter-spacing: 0.8px;
    color: $lightBackgroundColor;
    text-decoration: none;
}

.contact-margin {
    margin: 0 5.7rem;
}

.copyright {
    padding: 7.4rem 0 5.8rem 0;
}

.copyright-text {
    @include font(1.6rem, 1.6rem, 300);
    letter-spacing: 0.8px;
    color: $textDarkColor;
}

@media(max-width:1370px){
    .contact__link {
        @include font(2rem, 2.2rem, 500);
        letter-spacing: 0.5px;
    }
}

@media(max-width:1110px){
    .contact__link {
        @include font(2.4rem, 2.6rem, 500);
        letter-spacing: 0.5px;
    }
}
@media(max-width:900px){
    .footer-info {
        padding: 6rem 0 0 0;
        flex-direction: column;
        align-items: center;
    }
    .contacts{
        padding: 0 0 2rem 0;
    }
}
@media(max-width:620px){
    .footer-nav{display: none;}
    .contact-margin {
        margin: 0 2rem;
    }
    .contact__link{ @include font(1.4rem, 1.7rem, 500);}
    .copyright {
        display: flex;
        justify-content: center;
        padding: 4rem 0 4rem 0;
    }
    .copyright-text{@include font(1.2rem,1.4rem,300);}
}