.header {
    background-color: $darkBackgroundColor;
    @extend %position-realtive;
}

.header-nav {
    margin: 0 3.4rem 0 0;
    align-self: center;
}

.header-padding {
    padding: 3.3rem 0 0 0;
}

.header-title {
    @extend %position-realtive;
    z-index: 20;
    @extend %display-flex;
    justify-content: flex-end;
    padding: 35.4rem 3rem 13.2rem 0;
}

.header-info {
    @extend %position-realtive;
    @extend %display-flex;
    justify-content: flex-end;
    padding: 0 19.6rem 10rem 0;
    z-index: 20;
}

.header__info-list {
    max-width: 55rem;
    padding: 3rem 2.2rem 10.8rem 24rem;
    @extend %second-Font;
    border: 1px solid $lightBackgroundColor;
}

.info__list {
    text-transform: uppercase;
    color: $lightBackgroundColor;
    @include font(1.4rem, 1.4rem, 300);
    letter-spacing: 0.8px;
}

.info-margin {
    margin: 1.2rem 0;
}