.header {
    background-color: $darkBackgroundColor;
    @extend %position-realtive;
    overflow: hidden;
}

.header-nav {
    @extend %position-realtive;
    margin: 0 3.4rem 0 0;
    align-self: center;
}

.header-padding {
    padding: 3.3rem 0 0 0;
}

.header-title {
    @extend %position-realtive;
    z-index: 20;
    @extend %display-flex;
    justify-content: flex-end;
    padding: 35.4rem 3rem 13.2rem 0;
}

.header-info {
    @extend %position-realtive;
    @extend %display-flex;
    justify-content: flex-end;
    padding: 0 19.6rem 10rem 0;
    z-index: 20;
}

.header__info-list {
    max-width: 55rem;
    padding: 3rem 2.2rem 10.8rem 24rem;
    @extend %second-Font;
    border: 1px solid $lightBackgroundColor;
}

.info__list {
    text-transform: uppercase;
    color: $lightBackgroundColor;
    @include font(1.4rem, 1.4rem, 300);
    letter-spacing: 0.8px;
}

.info-margin {
    margin: 1.2rem 0;
}

@media (max-width:1390px){
    .info__list{
        @include font(1.8rem, 1.8rem, 300);
    }
}

@media(max-width:620px){
    .header-title{
        padding: 0;   
    }
    .header__title{ transform: rotate(-90deg);
    position: relative;
top:9rem;
left:2rem;
}
    .header-info {
        padding: 20rem 0 5rem 0;
    }
    .header__info-list {
        max-width: 100%;
        padding: 3rem 11rem 0 2rem;
        border:none;
    }
    .header-nav{
        flex-direction: column;
        position: absolute;
        width: 18.3rem;
        height:44rem ;
        background-color: $darkBackgroundColor;
        top:20px;
        right:-200px;
        z-index: 500;
    }
    .arrow-down{
        border:1px solid $lightBackgroundColor;
        padding: 0.5rem;;
    }
}
@media(max-width:440px){
    .header__burger{
        margin:0.7rem 1rem 0 0 ;
    }
    .header-bg-image {
        top: 40px;
    }
    .header__info-list {
        padding: 4rem 11rem 0 2rem;
    }
    .arrow-down{position: relative;
    top:20px;
left:30px;}
.header__title {
    top: 15rem;
    left: 5.6rem;
    letter-spacing: 1px;
}
.header-info {
    padding: 20rem 0 4.6rem 0;
}
}
@media(max-width:370px){
    .header-padding {
        padding: 1rem 0 0 0;
    }
}