.navigation {
    @extend %display-flex;
    justify-content: space-between;
    @extend %position-realtive;
    z-index: 20;
}

.header-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
}

.menu-list {
    @extend %display-flex;
}

.navigation__margin {
    margin: 0 2.4rem 0 2.9rem;
}

.menu__link {
    color: $lightBackgroundColor;
    border-bottom: 2px solid $transparentColor;
    padding-bottom: 5px;
    @include font(1.6rem, 1.6rem, 300);
    letter-spacing: 0.8px;
    transition: all 0.6s ease;
}

.menu__link:hover {
    color: $textLightColor;
    border-bottom: 2px solid $textLightColor;
}
@media (max-width:1450px){
    .menu__link {
        @include font(2rem, 2rem, 300);
    }
}
@media (max-width:1100px){
    .menu__link {
        @include font(2.4rem, 2.6rem, 300);
    }
}
