.our-glass {
    @extend %display-flex;
    padding: 15.2rem 0 8.6rem 0;
}

.glass__title {
    padding: 0 0 3.8rem 0;
}

.glass-image {
    @extend %position-realtive;
}

.glass__image {
    @extend %position-realtive;
    z-index: 20;
}

.glass-image::before {
    @extend %block-squard;
    bottom: -7%;
    right: -5%;
    z-index: 1;
}

.glass-text {
    padding: 0 0 0 10rem;
}

.glass__text {
    @extend %position-realtive;
    padding: 0 0 0 4rem;
    letter-spacing: 0.8px;
}

.glass__number {
    left: 0;
}

.glass-text__inner {
    @extend %display-grid;
    grid-template-columns: 27.2rem 25rem;
    gap: 5.4rem 4.8rem;
}

.glass__sub-text {
    display: inline-block;
}
@media(max-width:1370px){
    .glass__text {
      @include font(2.1rem,2.2rem,300);
        letter-spacing: 0.6px;
    }
    
}
@media(max-width:1260px){
    .glass-text__inner {
        grid-template-columns: 40.2rem;
        gap: 4.4rem 2.8rem;
    }
    .glass-text {
        padding: 0 0 0 6rem;
    }
}

@media(max-width:1050px){
    .our-glass{
        flex-direction: column;
        padding: 5.2rem 0 8rem 0;
        align-items: center;
    }
    .glass-image{
        max-width: 600px;
    }
    .glass-text {
        padding: 4rem 0 3rem 6rem;
    }
    .glass-text__inner {
        grid-template-columns: 100.2rem;
        gap: 4.4rem 2.8rem;
}
}
@media(max-width:1050px){
    .glass-text__inner {
        grid-template-columns: 50%;
       
}
}
@media(max-width:620px){
    .our-glass{
        padding: 4rem 0 4rem 0;
    }
    .glass-image::before {
      top:-20px;
        right: -20px;
        width: 40px;
        height: 40px;
        border: 1px solid $textLightColor;
    }
    .glass__text{
        @include font(1.6rem,1.92rem,300);
    }
    .glass-text__inner {
        grid-template-columns: 100%;
        gap: 2rem; 
}
.glass-text {
    padding: 4rem 0 3rem 1rem;
}
}