*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    @extend %scroll-smooth;
}

body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
    color: $darkBackgroundColor;
    @include font(1.8rem, 2.1rem, 300);
    scroll-behavior: smooth;
}

button {
    outline: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 146.2rem;
    margin: 0 auto;
    @extend %content-padding;
    border-right: 2px solid $mainBorderColor;
    border-left: 2px solid $mainBorderColor;
}

.wrapper-side-block {
    @extend %position-realtive;
}

.side-block {
    width: 7rem;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient( $sideBlockGradient1, $sideBlockGradient2);
    z-index: 50;
}

.main-title {
    max-width: 60rem;
    @include font(6rem, 6rem, 300);
    color: $lightBackgroundColor;
    text-transform: uppercase;
    letter-spacing: -1.7px;
}

.block-title {
    @include font(2.4rem, 2.4rem, 700);
    @extend %title-Font;
    text-transform: uppercase;
}

.text__number {
    padding: 0.5rem 0 0 0;
    @include font(2.4rem, 2.4rem, 700);
    @extend %title-Font;
    @extend %position-absolute;
}