@font-face{
    font-family: 'Open Sans';
    src: local("Open Sans"),
    url(../../assets/fonts/openSans/OpenSans-Regular.ttf)  format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto';
    src: local("Roboto"),
    url(../../assets/fonts/roboto/Roboto-Regular.ttf)  format('truetype');
    font-weight: 400;
}