%content-padding {
    padding: 0 3.2rem 0 15rem;
}

%display-flex {
    display: flex;
}

%display-grid {
    display: grid;
}

%display-inline-block {
    display: inline-block;
}

%display-block {
    display: block;
}

%second-Font {
    font-family: 'Gilroy', sans-serif;
}

%title-Font {
    font-family: 'FuturaPT', sans-serif;
}

%cursor-pointer {
    cursor: pointer;
}

%position-realtive {
    position: relative;
}

%position-absolute {
    position: absolute;
}

%text-Uppercase {
    text-transform: uppercase;
}

%block-squard {
    @extend %position-absolute;
    content: '';
    width: 6rem;
    height: 6rem;
    border: 2px solid $textLightColor;
}
%block-squard-mobile{
    @extend %position-absolute;
    content: '';
    width: 4rem;
    height: 4rem;
    border: 1px solid $textLightColor;
}
%lightLine {
    @extend %position-absolute;
    content: '';
    width: 4.5rem;
    height: 2px;
    background-color: $lightBackgroundColor;
}
%scroll-smooth{
    scroll-behavior: smooth;
}