%content-padding {
    padding: 0 3.2rem 0 15rem;
}

%display-flex {
    display: flex;
}

%display-grid {
    display: grid;
}

%second-Font {
    font-family: 'Gilroy', sans-serif;
}

%title-Font {
    font-family: 'FuturaPT', sans-serif;
}

%cursor-pointer {
    cursor: pointer;
}

%position-realtive {
    position: relative;
}

%position-absolute {
    position: absolute;
}

%block-squard {
    @extend %position-absolute;
    content: '';
    width: 6rem;
    height: 6rem;
    border: 2px solid $textLightColor;
}