$primeButtonsColor :#CD6326;
$sectionTitleColor : #333333;
$primeTextColor: #F7F7F7;
$subtitleColor : #666666;
$transparentColor:transparent;
$headerBackgroundColor: #02160b;
$sectionBackgroundColor:#CCCCCC;
$buttonsHoverColor: #aacc66;
$buttonsHoverColor2: #9b34eb;