$darkBackgroundColor:#1b1b1b;
$darkBackgroundLightSubcolor: #6ab7cf;
$mainBorderColor:#323232;
$lightBackgroundColor:#ffffff;
$textLightColor:#51d1c5;
$textDarkColor:#c7c7c7;
$textDarkColor2:#808080;
$transparentColor:transparent;