$darkBackgroundColor:#1b1b1b;
$darkBackgroundLightSubcolor: #6ab7cf;
$mainBorderColor:#323232;
$lightBackgroundColor:#ffffff;
$textLightColor:#51d1c5;
$textDarkColor:#a1a1a1;
$sideBlockGradient1: #72afd3;
$sideBlockGradient2:#37ecba ;
$transparentColor:transparent;